<ion-header class="ion-no-border">
  <ion-toolbar color="principal">
    <ion-buttons slot="start">
      <ion-button (click)="salir()" shape="round">
        <ion-icon icon="caret-back" size="large" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="app-mensajes" id="app-mensajes">
    <ion-row *ngFor="let chat of chats">
      <ion-col *ngIf="10 != chat.tipo" size="9">
        <div class="mensaje">
          <ion-badge class="ion-no-margin" color="principal" mode="ios">{{ chat.user }}</ion-badge>
          <p>{{ chat.mensaje }}</p>
        </div>
      </ion-col>
      <ion-col *ngIf="10 === chat.tipo"  offset="3" size="9" class="ion-text-right">
        <div class="my-mensaje">
          <p>{{ chat.mensaje }}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="sendmessage">
    <ion-row>
      <ion-col size="10">
          <ion-input class="form-control" type="text" name="mensaje" [(ngModel)]="mensaje" placeholder="Enviar mensaje"></ion-input>
      </ion-col>
      <ion-col size="1">
        <ion-button (click)="agregarmensaje()" color="light" id="btn-refres">
          <ion-icon name="send" color="principal"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>