ion-content{
    --background: none;
    background-color: gray;
}
.sendmessage{
background-color: var(--ion-color-principal);
}
.mensaje{
    display:inline-block;
    padding: 5px;
    background-color: var(--ion-color-light);
    border-radius: 10px;
    p{
        margin: 0px 0px 0px 0px;
        color: var(--ion-color-principal);
        font-weight: bold;
    }
}
.app-mensajes{
    overflow-y:scroll;
    display: block;
    height:92%;
    padding: 7px;
    background: rgba(230, 230, 230, 0.473);
  }


      .my-mensaje{
        display:inline-block;
        padding: 5px;
        background-color: var(--ion-color-principal);
        border-radius: 10px;
        p{
          text-align: left;
            margin: 0px 0px 0px 0px;
            color: var(--ion-color-light);
            font-weight: bold;
        }
  }