.avatar{
  height: 72px;
  width: 72px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
ion-grid{
  background-color: var(--ion-color-secundario); 
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%; 
  margin-bottom: 5%; 
}
div{
  background-color: var(--ion-color-light);
  width: 100%;
  height: 100%; 
  border-radius: 10px;
ion-text{
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  color: var(--ion-color-principal);
  font-weight: bold;
  padding: 15px;
}
}