<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="hijo">
        El CVV es un grupo de 3 o 4 dígitos generalmente situado al reverso de la tarjeta bancaria al final de la banda de firma.
        </div>
      </ion-col>
      <ion-col size="6">
        <img src="/assets/img/Tarjeta_CVV.jpg" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="cierre()"  expand="block" color="principal" shape="round">
    Entendido
  </ion-button>
</ion-content>
